* {
  box-sizing: border-box;
}

/* BASICS */
body {
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

/* HELPERS */
.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.margin {
  margin: 0;
}

.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.none-active {
  display: none;
}

.active {
  display: flex;
}

/* LAYOUT */
.main-layout {
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
.header {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 127, 0);
}

.main-nav li {
  width: 4.6875rem;
  font-size: 1.4875rem;
}

.main-nav li:first-child {
  padding-right: 10px;
  border-right: 1px solid rgba(4, 10, 44, 0.281);
}

.main-nav a {
  display: flex;
  height: 65px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
}

.main-nav li a:hover {
  color: #040a2c;
  font-weight: 700;
  box-shadow: inset 0px -4px 0 rgb(4, 10, 44);
}

.main-nav li a:focus {
  color: #040a2c;
  box-shadow: inset 0px -4px 0 rgb(4, 10, 44);
}

.logo img {
  padding: 15px 0px;
  width: 150px;
}

/* GALLARY */
.gallary img {
  cursor: pointer;
  width: 32%;
  padding-bottom: 25px;
}

.imges-gallary {
  padding: 0px 25px;
  padding-top: 25px;
  flex-wrap: wrap;
  background-color: rgb(227, 227, 227);
}

/* MAIN */
main {
}

.editorimg {
  width: 30px;
  height: 30px;
}

.names {
  color: rgb(0, 0, 0);
  font-size: 1.5625rem;
  font-weight: 700;
  font-family: "Montserrat";
}

/* ABOUT */

.about-info {
  flex-direction: column;
}

.about-info p {
  font-size: 1.25rem;
  margin: 0;
}

.about-img-container img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.social-nav li {
  display: inline;
}

.social-nav li {
  display: inline;
}

.social-nav img {
  width: 5%;
}

/* FOOTER */

.footer {
  text-align: center;
  font: 1.1875rem;
  font-family: "Montserrat";
  background-color: rgb(255, 127, 0);
}
.footer-logo img {
  padding-top: 80px;
  padding-bottom: 20px;
  width: 15%;
}

.footer h3 {
  font-weight: 100;
  padding-bottom: 80px;
}
